* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --main-color: #000;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    z-index: 2;
    background-color: var(--main-color);
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: var(--main-color);
    background-color: #ccc;
}

#nav .subnav { 
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    line-height: 46px;
}

/* Slider section*/

#slider {
    margin-top: 46px;
}

#slider .slider-image {
    width: 100%;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    text-align: center;
    width: 100%;
}

#slider .text-heading {
    font-size: 24px;
    font-weight: 500;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 2px 2px 1px #000;
    font-weight: 700;
}

/* About section*/

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.5;
}

#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}

#content .members-list {
    margin-top: 32px;
}

#content .members-name {
    font-size: 15px;
}

#content .members-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour section*/

.tour-section {
    background-color: #000;
}

.tickets-list {
    margin-top: 40px;
    
    background-color: #fff;
    
}

.tickets-list li {
    color: #757575;
    list-style: none;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ccc;
}

.tickets-list .sold-out {
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    background-color: #000;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #fff;
    margin-top: -3px;
}

/* Places */

.places-list {
    margin-top: 16px;
    margin-bottom: 48px;
}

.places-list .places-img {
    width: 100%;
    display: block;
}

.places-list .places-img:hover {
    opacity: 0.6;
}

.places-list .places-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.places-list .places-heading {
    font-size: 15px;
    font-weight: 600;
}

.places-list .places-time {
    margin-top: 15px;
    color: #757575;
}

.places-list .places-description {
    margin-top: 15px;
    line-height: 1.4;
}

/* Contact section */
.contact-block {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="fa-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    float: right;
}

/* Map section*/

.map-section img {
    width: 100%;
    filter: grayscale(50%);
}


#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: #666;
}

#footer .socials-list a:hover {
    opacity: 0.6;
}

#footer .copyright {
    margin: 15px;
}

#footer .copyright a {
    color: #666;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    padding: 10px 16px;
    right: 0;
    top: 0;
    color: #fff;
    cursor: pointer;
}

.modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

.buy-tickets-btn {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

.buy-tickets-btn:hover {
    background-color: #ccc;
    color: #000;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}